.vscode

custom.env

.venv

ansible-inventory.yaml
ansible-log.txt
ansible.cfg

remoteadmin_rootlogin_key
remoteadmin_rootlogin_key.pub

node-token
k3s.yaml

helmfile.yaml
values*
!values--example-env*

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

install-k3s/deployments/helmfile/*
!install-k3s/deployments/helmfile/helmfile-example.yaml
!install-k3s/deployments/helmfile/nfs-subdir-external-provisioner
!install-k3s/deployments/helmfile/longhorn
!install-k3s/deployments/helmfile/certmanager
!install-k3s/deployments/helmfile/kube-dashboard

