# {{ ansible_managed }}
# /etc/systemd/user/podman-compose--{{ item }}.service


[Unit]
Description={{ item }} rootless pod (podman-compose)

[Service]
Type=simple

Environment="COMPOSE_FILE=podman-compose.yaml"
Environment="COMPOSE_PATH_SEPARATOR=:"
Environment="COMPOSE_PROJECT_NAME={{ item }}"
Environment="COMPOSE_PROJECT_DIR=/home/{{ ansible_user }}/container-projects/{{ item }}"


ExecStartPre=-/usr/bin/podman-compose --in-pod true up --no-start
ExecStartPre=/usr/bin/podman pod start pod_{{ item }}
ExecStart=/usr/bin/podman-compose wait

ExecStop=/usr/bin/podman pod stop pod_{{ item }}

[Install]
WantedBy=default.target