# {{ ansible_managed }}
# /etc/systemd/user/podman-compose_%i.service

#COMPOSE_PROJECT_DIR=/home/labadmin/container-projects/zabbix-sbx
#COMPOSE_FILE=podman-compose.yaml
#COMPOSE_PATH_SEPARATOR=:
#COMPOSE_PROJECT_NAME=zabbix-sbx

[Unit]
Description={{ item }} rootless pod (podman-compose)

[Service]
Type=simple

EnvironmentFile=%h/.config/containers/compose/projects/%i.env

ExecStartPre=-/usr/bin/podman-compose --in-pod true up --no-start
ExecStartPre=/usr/bin/podman pod start pod_{{ item }}

ExecStart=/usr/bin/podman-compose wait

ExecStop=/usr/bin/podman pod stop pod_{{ item }}

[Install]
WantedBy=default.target