#DEBUG=0

# python executable, used to create the virtual env
# inside the venv it will be called simply by invoking "python"
#PYTHON_EXECUTABLE_PATH="/usr/bin/python3.11"

# This must match the value set in the inventory
#ANSIBLE_SSH_KEY=~/.ssh/my_admin_key
